[2021-11-13 10:48] itaouil opened #1 "Controller Startup Failures"
Ciao Gennaro :),

Thanks for open sourcing this work.

I am thinking to use your package as a way to make AlienGo climb stairs by integrating it with a planner.

I was trying to run the wbc in simulation by following the instructions in your README (through a system installation), but when I launch the package I obtain the following error:

![error](https://user-images.githubusercontent.com/172752

[2021-11-13 11:21] graiola commented on #1
Hi @itaouil, it seems that a debian package was not correctly installed or sourced. Can you check if you have the debian wbc-setup/debs/bionic/advr/cartesian_interface-2.0.0-6d1e2e1-amd64-bionic.deb correctly installed? Also, do you have git-lfs?

[2021-11-13 11:48] itaouil commented on #1
Hi,

Thanks for the prompt reply.

The debian package **cartesian_interface-2.0.0-6d1e2e1-amd64-bionic.deb** is present in the **wbc-setup** workspace.

And yes, I made sure to install **git-lfs**.

It actually installs the WBC debian packages, although it throws some warnings:

![image](https://user-images.githubusercontent.com/17275225/141642577-1ef7eafe-8f6d-4174-af38-eaccc3ff4c28.png)

And sim

[2021-11-13 13:59] graiola commented on #1
Can you roscd cartesian_interface?

[2021-11-13 14:32] itaouil commented on #1
No.

I tried and there is no such package installed.

![image](https://user-images.githubusercontent.com/17275225/141647631-63530634-11f7-4615-b72e-d0aa166bbd08.png)

[2021-11-13 14:34] graiola commented on #1
Can you confirm that the pkg is installed with dpkg -l | grep cartesian_interface? Also, could you try echo $ROS_PACKAGE_PATH ?

Thank you!

[2021-11-13 14:39] itaouil commented on #1
The output of **dpkg -l | grep cartesian_interface**:

![image](https://user-images.githubusercontent.com/17275225/141647821-57f01dcb-4420-4999-9c4c-3fdb63c9548b.png)

The output of **$ROS_PACKAGE_PATH**:

![image](https://user-images.githubusercontent.com/17275225/141647873-98a6b02f-deb0-4aa7-a9f8-3b3210507604.png)

[2021-11-13 15:32] graiola commented on #1
It looks like the xbot distro is not being sourced... try in a new terminal to run `source /opt/xbot/setup.bash` and then launch the wb_controller `roslaunch wb_controller wb_controller_bringup.launch`

[2021-11-14 13:06] itaouil commented on #1
Yes. Sourcing the xbot setup fixed the issue :).

Thanks for you prompt replies and help.

[2021-11-14 13:06] #1 closed, assigned to nobody

[2021-11-14 13:14] itaouil opened #2 "High level control without joystick"
Hi Gennaro :),

In the **README** it is stated that in order to control the robot (I guess both in simulation and real-life?) a joypad is required.

I would be interested to send **twist** messages (i.e. sending the different components for the linear and angular velocity) through ROS. Is there maybe a parameter that could be changed to make this available or would this require changing the source

[2021-11-14 13:24] itaouil opened #3 "Stair Climbing"
Hi Gennaro :),

I am interested to use your work for a stair climbing approach with vision targeted to the AlienGo robot.

In the paper it is stated that the wbc might have stability issues when dealing with high inclinations, but I was wondering whether the wbc could potentially deal with stair climbing (16cm steps) or not out of the box (I am yet to try blind stair climbing in simulation as I do

[2021-11-15 09:38] itaouil opened #4 "WBC failure"
Hi Gennaro,

I tried to move the robot around with the joystick in the simulator and I noticed that the wbc fails a lot with the robot (in this case AlienGo) starting to fly away in the air.

![image](https://user-images.githubusercontent.com/17275225/141758004-49f0ffef-ebe8-43f6-8e00-e1674f6cc422.png)

And this is the error I get on the terminal:

![image](https://user-images.githubusercontent.co

[2021-11-15 10:08] EnricoMingo commented on #4
Hi Ilyass,
from the warnings looks like you are taking a step that is too long (> than 0.5 [m]?)

[2021-11-15 10:10] EnricoMingo commented on #2
I think there should be a keyboard interface as well.
@graiola

[2021-11-15 10:30] itaouil commented on #4
Hi @EnricoMingo,

The thing is that I did not change any parameters, and the base and angular velocities are still set at 0.5 and 0.4 respectively.

Does this mean that the linear and angular velocities have to be further reduced in order for the robot not to take too big of step?

[2021-11-15 10:41] EnricoMingo commented on #4
Are you using a joystick ?

[2021-11-15 10:49] itaouil commented on #4
Yes, I am using a joystick.

[2021-11-15 10:50] graiola commented on #4
@itaouil let me double check that the debians are aligned with the correct code branch. I come back to you asap.

[2021-11-15 10:56] graiola commented on #2
Yes, there is a keyboard interface that send twist commands, but it needs further developments. If you explain me what do you need, I can try to implement it.

[2021-11-15 11:22] itaouil commented on #4
Thanks a lot Gennaro :)

[2021-11-15 11:29] itaouil commented on #2
What I am interested in is to have a rostopic called **cmd_vel** that accepts **geometry_msgs/Twist** messages containing the linear and angular velocities which are then passed to the **foothold planner** as references to your **wbc**.

[2021-11-15 19:29] graiola commented on #4
@itaouil could you try to run spot and see if you have the same failures? Thank you :)

[2021-11-15 20:16] itaouil commented on #4
I tried with all robots now and they all fail. Here I tried spot and I did not even send velocity commands. It was just stomping its feet on the same place and failed.

![spot_failure](https://user-images.githubusercontent.com/17275225/141847737-221131e3-4470-4077-9191-29e713c198d7.png)

![image](https://user-images.githubusercontent.com/17275225/141847849-9966451f-3f18-4317-9f05-62e78ef228f5.png)

[2021-11-16 18:02] graiola commented on #4
That's weird... I just udpated the debians, you can try the new ones.

[2021-11-17 09:19] itaouil commented on #4
Ok thanks :)!

I will try it later today and will update you.

By the way, does it not fail for you when you try?

[2021-11-17 16:29] itaouil commented on #4
Hi Gennaro :),

I tried the updated debians, and it seems like the behaviour of the robot on flat surfaces in simulation is better than before although it still fails in some occasions though (with the error step size > 0.5).

I also tried to climb stairs blindly with your whole body controller just to see whether it is able to deal with it or not. It did well in the first few steps by then gave u

[2021-11-17 16:55] EnricoMingo commented on #4
Hi Ilyass,
thank you for the video! I would suggest you to adjust the pose of the base
once you attack the stairs. Probably you just need to move slightly up-back
the base and rotate (pitch) a little on the direction of the slope?
Please let us know how is going.
Best,

Enrico

Il giorno mer 17 nov 2021 alle ore 17:29 Ilyass Taouil <
***@***.***> ha scritto:

--
Mingo Hoffman Enrico, Ph.D.

[2021-11-17 17:00] EnricoMingo commented on #4
I think this can be closed now. @graiola

[2021-11-17 17:01] EnricoMingo commented on #3
Dear @itaouil, could you move the video to this discussion, please?

[2021-11-17 18:22] itaouil commented on #4
Sure.

I can move it to the other discussion.

I did some other tests with the new push but I still encountered some failures.

**Case 1: Sudden change in the linear velocity** (https://drive.google.com/file/d/1Gnlj-lxAZ1jkON09iWCssMsvGKuzrtBl/view?usp=sharing)

Here I was playing with the linear velocity and when I suddenly changed it from around 0.7 to around 0.4 the robot failed. Maybe it is du

[2021-11-17 18:28] itaouil commented on #3
Video of blind stairs climbing of aliengo in the simulator originally posted in the discussion #4: https://drive.google.com/file/d/1vKy0tUloRkoicj5D8c86OecrJgv95DCX/view?usp=sharing

[2021-11-18 09:36] EnricoMingo commented on #4
@graiola you can close.

[2021-11-18 09:37] EnricoMingo commented on #3
@itaouil, did you try to address the stairs using the crawl?

[2021-11-18 10:00] itaouil commented on #4
@EnricoMingo I can close it if there are no insights you or @graiola could give regarding my previous post and the three videos showing some failures on flat surfaces? :)

Thanks! :)

[2021-11-18 10:02] EnricoMingo commented on #4
I would close since the videos are not directly related to the issue. If
you mention them in another issue we can close this one and continue on the
other one.

Il giorno gio 18 nov 2021 alle ore 11:01 Ilyass Taouil <
***@***.***> ha scritto:

--
Mingo Hoffman Enrico, Ph.D.

[2021-11-18 10:02] itaouil commented on #3
@EnricoMingo not yet.

I will do further tests today or tomorrow and will update you :).

[2021-11-18 10:05] EnricoMingo commented on #3
Thanks, @itaouil.
consider that the controller may need to be further tuned (since we support multiple robots we did not fine-tune all of them). May I ask: do you have as well a hardware platform to eventually try your work?

[2021-11-18 10:09] itaouil commented on #3
Yes.

We have an AlienGo robot here where I could try the controller out possibly, but first I want to make sure that it is robust enough in simulation.

Regarding the fine tuning process, is there any resource/package/software you would recommend to find the best parameters for the robot that could improve robustness?

[2021-11-18 10:11] EnricoMingo commented on #3
I am sorry but I am not really aware of packages for tuning.

[2021-11-18 10:14] itaouil commented on #4
Sure.

Will create a new issue then :).

Thanks!

[2021-11-18 10:14] #4 closed, assigned to nobody

[2021-11-18 14:22] graiola commented on #3
@itaouil could you send me the stairs model? I am curious to try it as well :)

[2021-11-19 09:08] itaouil commented on #3
@graiola absolutely :)

Here is the stairs model I am using:

[stairs.zip](https://github.com/graiola/wbc-setup/files/7569069/stairs.zip)

[2021-11-19 09:25] itaouil opened #5 "Step size larger than 0.5 error"
Hi,

**As mentioned in issue #4 there are times where the wbc suddenly fails while a linear reference velocity is commanded**:

Case 1:

Sudden change in the linear velocity (https://drive.google.com/file/d/1Gnlj-lxAZ1jkON09iWCssMsvGKuzrtBl/view?usp=sharing). Here I was playing with the linear velocity and when I suddenly changed it from around 0.7 to around 0.4 the robot failed. Maybe it is due t

[2021-11-21 23:00] graiola commented on #5
Hi @itaouil we just updated the debians. Can you let us know if it solves the problems? Thank you

[2021-11-22 10:12] itaouil commented on #5
Hi @graiola,

Thanks a lot for the push :).

I just tried it but for all the robots I tried they just hang in the air.

I also have the following error (which I don't think I ever had before)

![image](https://user-images.githubusercontent.com/17275225/142842507-aca103be-1333-4c88-b8d9-2e560511de56.png)

I guess this package is missing which seems to be the one responsible to set the robot to the

[2021-11-22 13:41] graiola commented on #5
Hi @itaouil , I forgot to add the installation of a script. I just updated the debian package of wb_controller to fix that.

[2021-11-22 19:00] itaouil commented on #5
Hi @graiola,

Thanks again to you and Enrico for the changes and the help :).

I tried the new debs and from the tests I made so far it works way better for the AlienGo robot. I tried with all the combinations in which it used to fail previously and this time did not fail at all.

While I was testing I noted that the joint positions are different than before, and as soon as the robot starts walkin

[2021-11-22 19:09] itaouil commented on #3
Hi @graiola and @EnricoMingo,

I tried the new debs that you pushed for issue #5 to see if the robot is now able to also climb stairs blindly.

Here is the result https://drive.google.com/file/d/1vFOuyofax-AGkbqvw2kgO0hx1W63Al7I/view?usp=sharing

**Spoiler alert** It managed :). The only thing that I noticed and that I also raised in issue #5 is the joint violations messages that  the wbc throws,

[2021-11-22 22:59] EnricoMingo commented on #3
Dear @itaouil, this is amazing! Thank you for sharing!
We are working on any aspect of the framework, in particular, concerning the whole-body control stack, we are trying different combinations of tasks and constraints (as well priorities). Our main goal is to try to achieve a stable walk based on reduced feedback data. The base adaptation was not present in the debians before but it was present

[2021-11-22 23:05] EnricoMingo commented on #5
In this debians we mainly changed the stack and the strategy to control the CoM. Minor changes regards also some optimization in the problem formulation (less variables) and the Cartesian control of the legs.
Concerning the joint limits, we are going to investigate this issue, it could be caused by a non-perfect tracking of the feet, but we have a joint-limits constraint that we did not yet add to

[2021-11-23 07:40] itaouil commented on #3
Thanks!

I will close this issue as the robot is now able to climb stairs.

[2021-11-23 07:40] #3 closed, assigned to nobody

[2021-11-23 07:44] itaouil commented on #5
Amazing!

I will do some further testing today but I will close this issue for the moment and move the joint-limits constraints discussion to a new issue.

[2021-11-23 07:44] #5 closed, assigned to nobody

[2021-11-23 07:48] itaouil opened #6 "Joint-Limits Violations"
Hi again :),

As started to discuss in #5, there are some joint-limits violations after the new debs update, as shown in the pictures below:

**Starting joint positions (once the solver is on)**

![joints_start](https://user-images.githubusercontent.com/17275225/142918277-18e876ae-1855-4420-976e-4c8bdf13bf62.png)

**After a few steps**:

![joints_stop](https://user-images.githubusercontent.com/172

[2021-11-23 13:35] graiola commented on #2
@itaouil that would be possible :)
I can work on that in the next days

also, we prepared an hardware interface to connect the wbc to a real aliengo robot via its udp command interface. If you are interested this is the link to it: https://github.com/graiola/wb_aliengo_interface

[2021-11-23 13:38] graiola commented on #6
I am going to run some tests in the next days to see what's happening...

[2021-11-23 15:21] itaouil commented on #6
Thanks :).

[2021-11-23 15:28] itaouil commented on #2
Amazing!

Yes. I guess after some further testing in simulation and maybe once the joint violations #6 is solved I will give it a go on the real robot next week and of course would keep in the loop about that :).

Once again thanks a lot to you and Enrico for all the help! Really appreciated :)

[2021-11-23 16:33] graiola commented on #6
I run some tests and it looks like the posture problem it's related to the controller parameters.
Try to use these parameters:

[params.txt](https://github.com/graiola/wbc-setup/files/7589612/params.txt)

Regarding the joint limits, we are investigating that, I let you know asap :)

[2021-11-23 17:51] itaouil commented on #6
The new parameters helped for the posture :).

I also took another video in case it helps: https://drive.google.com/file/d/1cP9xFqdr8kj8cB3RrAXXkot6jGqZVueP/view?usp=sharing.

In the video you can see the AlienGo limping. I guess this is still due to the joint violations. The limping also happened before updating the params.

[2021-11-23 18:46] EnricoMingo commented on #6
Can you check the velocity references that you are sending? Because it looks like sometimes it takes two steps with the same leg. Maybe you have also to play a little with the parameters of the walking pattern generator.

[2021-11-23 22:22] graiola commented on #6
Hi @itaouil , we just updated the code to take into account the joint limits into the wbc, you can use the new debian pkg. It should work better but since the joint limit constraints are working by approximation, it could happen that the controller still throws out some warnings...

Let us know if it improves the behavior of the doggo! :)

[2021-11-25 14:52] itaouil commented on #6
Hi,

Sorry for the late reply.

I just tried to test the new debs, but weirdly enough I obtain a similar error as issue #1:

![image](https://user-images.githubusercontent.com/17275225/143462501-43ec11e1-de97-4b9f-9f16-c7ea1cca9e52.png)

When I try the previous commit, the same error does not happen.

[2021-11-25 14:59] graiola commented on #6
Maybe I did a mistake while creating the debians, I am going to generate them again in few minutes.

[2021-11-25 15:12] graiola commented on #6
@itaouil try again please...

[2021-11-25 16:34] itaouil commented on #6
Just pulled down the new debs, and the previous issue is solved.

I will do some tests tomorrow finally, and will update you :).

[2021-11-25 16:39] itaouil opened #7 "Question -- CoM Displacement"
Hi :),

I remember that the robot in RVIZ used to also move around, instead of being fixed on the place. Is there a parameter I can change to undock it again?

The reason for it is that I want to extract the absolute CoM displacement every footstep, but for that I need to have the CoM position w.r.t the world frame so that I can compute the actual displacement, or maybe the wbc is already publishi

[2021-11-26 14:28] graiola commented on #7
Hi @itaouil , you can change in the params the type of estimation for the position, in your case you want to use the ground_truth from gazebo:

` estimation_position_type: ground_truth`

this will give you the position of the robot wrt the world in gazebo.
Let me know if it works :)

[2021-11-26 15:34] graiola commented on #2
I resurrected an old branch where there is a twist interface. With the new debian you can publish on the topic `/robot_name/wb_controller/twist` a value between -1.0 and 1.0 for each velocity component, this value represents a scaling value that gets multiplied by the velocity selected in the gui (or in the param file).
To activate the topic use the argument `input_device:=twist` when launching th

[2021-11-26 17:18] itaouil commented on #6
I just finished testing the the new debs.

I approached it by sending different velocity commands from 0.1 till 0.9 included with a step of 0.1 for 20 seconds for the following motions:

- Forward
- Right step
- Left step
- Clockwise rotation
- Counter clockwise

for both 6 cm and 15 cm step heights.

Except for some warnings of joint violations and step length > 0.4 and two falls (during a contin

[2021-11-26 17:18] #6 closed, assigned to nobody

[2021-11-26 17:24] graiola commented on #6
Hi @itaouil , thank you for testing! You can ignore the warnings because they are generated from an ik module that is now not used anymore... I am going to push a new debian to silence them :)

[2021-11-26 17:31] itaouil commented on #7
Hi,

Yes, by changing the **estimation_position_type** the **/aliengo/wb_controller/CoM** topics publishes CoM pose with respect to world.

But I also noticed that even if the **estimation_position_type** is set to **estimated_z** a topic called **/aliengo/ground_truth** is published that additionally also has a non-zero orientation :).

I guess I will use **/aliengo/ground_truth** instead as it h

[2021-11-26 17:34] graiola commented on #7
Be aware that the ground_truth represents the position of the robot's base and not its com.
It would be cool to have a proper state estimation one day ;)

[2021-11-26 17:34] itaouil commented on #2
Thanks 👍🏽.

I will give it a try and let you know :).

[2021-11-26 17:40] itaouil commented on #7
Ah ok. Did not even realise that :).

The difference in the pose between CoM and base is "minimal" for my purpose so that won't be an issue I think :).

[2021-11-26 17:40] #7 closed, assigned to nobody

[2021-12-02 11:59] itaouil commented on #1
Hi @graiola,

In the latest push I think you might have forgot to include something while generation the debs:

![image](https://user-images.githubusercontent.com/17275225/144417921-1c8f6f95-c9d8-4ccd-939e-ed3f4188dab9.png)

[2021-12-02 15:39] graiola commented on #1
Sorry, I should generate the debians in a docker container instead I am using my computer which sometimes has developments going on... I generated the new debians. Sorry for the inconvenience.

[2021-12-02 15:40] itaouil commented on #1
No problem at all :).

Thank you!

[2021-12-02 15:48] itaouil commented on #1
Problem seems to be still present :)

![image](https://user-images.githubusercontent.com/17275225/144455373-bd887801-26e1-49fb-a315-566f31a3dd15.png)

[2021-12-02 15:58] graiola commented on #1
Give me few minutes...

[2021-12-02 16:17] graiola commented on #1
Give it a try :)

[2021-12-02 16:27] itaouil commented on #1
Error still present :)

![image](https://user-images.githubusercontent.com/17275225/144462329-5f0749fd-ee79-4905-b60f-3593400e337b.png)

[2021-12-02 16:32] graiola commented on #1
Ok so I guess my environment is dirty... I would suggest you to use the old debian for the moment... I am going to work on it in the next hours

[2021-12-03 05:04] graiola commented on #1
I just updated the debian again... hopefully it works this time :)

[2021-12-03 07:19] itaouil commented on #1
Thanks for the push Gennaro.

While trying to install I receive this:

![image](https://user-images.githubusercontent.com/17275225/144561459-e55f958f-afe4-4573-89b3-06014537e3f0.png)

Before I try to downgrade the xbotinterface I want to make sure this is the right step? :)

[2021-12-03 14:09] graiola commented on #1
I just tested the current configuration in the docker image, and it seems to work fine :)

but there is the new XBotInterface debian on git to download.

anyway our plan is to move the debians out of git in the next days to make the download process simpler

[2021-12-03 14:41] itaouil commented on #1
Yes. The docker image works fine.

The docker works fine, but I think the wrong **xbotinterface** was used when you generated the debs for the system installation maybe?

Anyway, I will use the new push with the docker for the moment :)

[2021-12-03 15:12] itaouil commented on #1
Yes. The docker image works fine :).

There still seems to be some issues with the system install, but I will stick to using the docker image for the moment:

![image](https://user-images.githubusercontent.com/17275225/144625734-97410ba4-9127-42eb-87c8-9ffe107abb38.png)

[2021-12-03 17:23] graiola commented on #1
Hi @itaouil , we updated the way the debians are stored, now they are on dropbox. If you want, you can try to download the debians with install_dependencies.sh or get_debians.sh. Also, we removed git-lfs and purged the debians from the repo.

If you can give it a try it would be super helpful :)

Thank you!

[2021-12-03 18:09] itaouil commented on #1
Great!

I'll give it a try in a few hours :)

[2021-12-04 07:57] itaouil commented on #1
Hi,

Nice re-branding haha. I like the wolf part :).

The docker image works fine. Regarding this, where can I add a new world (under wb_gazebo_resources?) and a new aliengo model (I want to add a sensor plugin to it to have also some perception in the simulator along with the WBC)?

Regarding the system installation, I encountered some errors in the installation process:

1)

**Even when a run th

[2021-12-04 16:13] graiola commented on #1
Hi @itaouil, thank you for the feedback :)

are you using `install_dependencies.sh` to install the debians or do you do it manually?

Regarding the gazebo model: you can add your new model to the `$GAZEBO_MODEL_PATH`, then it should show up when you launch gazebo.
If you are using the docker, you can load your local ros workspace with the model in it with the option `run_docker.sh --local your_ros

[2021-12-04 16:59] itaouil commented on #1
Hi @graiola,

Thanks for the info.

Yes, I am using the script to install the dependencies.

The problem is similar to the one shown in the [link](https://askubuntu.com/questions/1328914/how-to-give-apt-user-permission-to-var-lib-apt-lists/1328915#1328915). I tried to change to permissions before the **install.sh** script is run but with no luck so far.

Also, I noticed that you removed the  **Xbo

[2021-12-04 17:18] itaouil commented on #1
Ok.

I managed to install it by **--force-overwrite** the installation of the packages, but then:

![image](https://user-images.githubusercontent.com/17275225/144718477-5c9b9d10-2846-42e7-a751-5a55e16170ef.png)

![image](https://user-images.githubusercontent.com/17275225/144718488-454862ae-f5ef-41a1-9aa5-13eea742b4fd.png)

[2021-12-04 17:18] graiola commented on #1
In the `debs/advr` folder, there is `uninstall.sh`, can you run it? and then run `install.sh`

[2021-12-04 17:19] graiola commented on #1
ahaha why there are two robots? :):)

[2021-12-04 17:20] itaouil commented on #1
![image](https://user-images.githubusercontent.com/17275225/144718541-a524b934-020b-46fc-9f13-5a41f2ba870d.png)

[2021-12-04 17:22] graiola commented on #1
it looks like a problem with _apt:

Give a look [here](https://newbedev.com/what-does-this-apt-error-message-download-is-performed-unsandboxed-as-root-mean)

[2021-12-04 17:30] itaouil commented on #1
Adding these two lines

[code]

after the **get_debians.sh** call in the **install.sh** script fixes the installation error, but the two robot error spawn persists haha:

![image](https://user-images.githubusercontent.com/17275225/144718819-097dc9fe-977e-4807-b92f-8b22c863d3ba.png)

![image](https://user-images.githubusercontent.com/17275225/144718834-332c8048-0755-4ac4-8327-3b904481c707.png)

[2021-12-04 17:32] graiola commented on #1
how are you running everything? In the docker, outside?

[2021-12-04 17:40] itaouil commented on #1
No no the docker is fine, and works great.

All these errors are for the system installation only.

[2021-12-04 18:11] graiola commented on #1
what if you spawn spot? `robot_name:=spot`

[2021-12-04 18:19] graiola commented on #1
I pushed the modification in `run_docker.sh` about the `$GAZEBO_MODEL_PATH`, feel free to try it

[2021-12-05 09:44] itaouil commented on #1
This is what made the controller fail for me in the system installation process:

[code]

The sourcing command for **xbot** was added in the same line as the last one and not in a new one by the **install_dependencies.sh** script. Once I added an extra newline all worked fine for the system installation too.

[2021-12-05 18:00] graiola commented on #1
That's weird because I explicitly append `/opt/xbot/setup.bash` in the bashrc... https://github.com/graiola/wolf-setup/blob/master/install_dependencies.sh#L62

Anyway, I am glad that the issue is fixed now.

Do you still have the problem with the two robots spawning?

[2021-12-05 18:01] itaouil opened #8 "Add Sensor to URDF"
Hi,

I modified the URDF file of the AlienGo robot in order to add a camera, along with the required links and rotations to have correct transformations.

![sensor](https://user-images.githubusercontent.com/17275225/144757633-f783c67e-2785-4343-b465-d4598bf9c424.png)

If this is something you would be interested to include in the next push here is the updated URDF file. If not, maybe someone else

[2021-12-05 18:01] #8 closed, assigned to nobody

[2021-12-05 18:10] graiola commented on #8
That's great!

I can easily add that and update the debians, or even better, I am going to put the robot descriptions in a different public submodule...

what do you think?

[2021-12-05 18:50] itaouil commented on #8
Public submodule sounds good :)

[2021-12-05 18:51] itaouil commented on #1
No everything works fine now :). No double robots party anymore.

[2021-12-06 18:31] graiola commented on #8
I just created the submodule, you can find it [here](https://github.com/graiola/wolf_descriptions).
I took the occasion to reorganize a bit the repository but I did not generate the new debians yet.

[2021-12-06 19:46] graiola commented on #8
Now the debians are updated

[2021-12-07 15:00] itaouil commented on #8
Hi,

I can't seem to find the repo anymore. Did you delete it?

On Mon, 6 Dec 2021 at 20:46, Gennaro Raiola ***@***.***>
wrote:

--
Ilyass Taouil
Web: itaouil.github.io

[2021-12-07 19:01] graiola commented on #8
Hey @itaouil , I had to remove the submodule because I realized that I have to merge some branches before making it a separate git entity :)

otherwise the merges are going to be too painful...

[2021-12-10 15:30] itaouil commented on #1
Hi :),

I changed the name of this issue so it accounts for all errors related to starting the controller.

In the last push the **wolf_description_utils** are not included so it cannot load the models:

![image](https://user-images.githubusercontent.com/17275225/145598956-b44c7ff0-f5d0-42bc-a592-53bd6d10920a.png)

Thought to let you know in case you missed it :)

P.S: If you might want to be noti

[2021-12-10 15:48] graiola commented on #1
I just added the debian :)

to speedup the communication we could use another channel too... suggestions?

[2021-12-11 08:59] itaouil commented on #1
Yes. Now it works :).

Possible platforms could be:

- Telegram
- Slack
- Discord
- Mattermost

These are the ones that pop in my mind atm.

[2021-12-15 10:28] itaouil opened #9 "Criteria that defines moving feet pair from idle position"
Hi @graiola,

I noticed that when I send motion commands to the robot when this one is static it can either start its motion with the right or left front foot.

Is this decision based on some criteria? Maybe the foot that is most in the front starts?

Best,
Ilyass

[2021-12-15 16:42] graiola commented on #9
the order which the feet are scheduled when trotting is the following: LF RH and RF LH and it should remain the same all the time.

What is the problem you are experiencing?

[2021-12-15 18:32] itaouil commented on #9
Yes yes you are right.

I phrased my question wrong I guess.

What is the criteria that defines which set of feet starts the motion starting from an idle position (by pairs I mean LF/RH or RF/LH). Cause from I could see both pairs can start equally. Right?

[2021-12-15 23:29] graiola commented on #9
The order is cyclic, so it starts with LF RH, then when both feet are in contact the scheduler moves to the next pair RF LH, and it repeats...

[2021-12-18 21:13] EnricoMingo commented on #2
Can we close this?

[2021-12-18 21:38] itaouil commented on #2
Yes.

Thank you!

[2021-12-18 21:38] #2 closed, assigned to nobody

[2021-12-19 10:45] itaouil opened #10 "Robot Model Visualization"
Hi @graiola,

I noticed that the robot model of the robot in RVIZ **for only** the AlienGo is missing the leg joints.

I am not sure if this is because of the latest pushes or maybe it is a bug on my side. Do you also have the same thing in your workspace?

![image](https://user-images.githubusercontent.com/17275225/146672086-a285f7fc-a5bb-4520-9e84-85ca650aca69.png)

![image](https://user-images.

[2021-12-19 10:46] itaouil commented on #9
Thanks for the input! :)

[2021-12-19 10:46] #9 closed, assigned to nobody

[2021-12-19 11:11] EnricoMingo commented on #10
Do you have any message in the terminal when running rviz with aliengo?

[2021-12-19 11:41] itaouil commented on #10
I did not see any specific or new errors/warnings compared to before.

[code]

and these additionally that were not dumped in the log file above:

![image](https://user-images.githubusercontent.com/17275225/146673749-9472736a-c06e-4b02-a07c-14611e067534.png)

[2021-12-19 11:50] graiola commented on #10
I saw the same visualization problem on another computer, but it doesn't happen on mine... I would say that it is a graphic glitch related to the meshes. Maybe changing the meshes could help...? You can try to open the lowerleg meshes with another program on your computer and see if you can correctly visualize them.

[2021-12-19 12:26] itaouil commented on #10
Yes. I am actually using a new PC.

I tried to open the **calf.dae** mesh with meshlab and it crashes every single time. While for the other meshes everything is correctly visualized.

I also tried to replace the meshes with the other ones from a unitree robotics github repo but the result is still the same.

How was the same problem solved on the other PC that you are referring to?

[2021-12-19 23:14] graiola commented on #10
I never solved it on my work pc :( , on the bright side, it is only a graphic glitch, it does not affect the simulation or the control (and it doesn't affect the gazebo visualization). It could be a problem related to the drivers... .

[2021-12-20 09:09] itaouil commented on #10
I see.

Yes true. I was able to work with the controller no problem.

If I find a solution in the future will make sure to update this issue.

Thanks :)

P.S: This might be my last issue of the year haha. Therefore thanks for your all your help so far and happy holidays :)

[2021-12-20 09:09] #10 closed, assigned to nobody

[2021-12-20 23:25] itaouil opened #11 "Velocity commands not executed correctly in ground_truth estimation position type"
Hi,

It seems like the behavior of the controller changes when I set the **estimation_position_type** in the param to **ground_truth**.

In particular, when I set a high velocity (say for example 0.9) and switch back to 0.2 for example the robot does not actually execute that lower velocity, but instead it seems to stomp on the spot, as if the velocity set is 0.0.

Here is a small video demonstrat

[2021-12-21 10:21] graiola commented on #11
Hi @itaouil , today I am travelling back home. I am going to give a look at the issue asap :)

[2021-12-21 11:54] itaouil commented on #11
Thanks :)

Safe travel!

[2021-12-21 22:23] graiola commented on #11
Hi @itaouil , the video doesn't show up, it says that can not be played because the file is corrupted.

[2021-12-22 05:25] itaouil commented on #11
I uploaded it to drive :)

https://drive.google.com/file/d/1iK-sqa3j57DMBnQW1WlYdTuaUH-kaQ-Y/view?usp=sharing

[2021-12-22 14:07] graiola commented on #11
It seems there is a bug when using the ground_truth. Did you have this problem before?

[2021-12-22 14:10] itaouil commented on #11
I actually never tried the **ground_truth** before. I always used the **estimated_z**.

[2021-12-22 15:19] graiola commented on #11
I think i solved the bug, I am building the debians now....

updated!

[2021-12-22 15:37] itaouil commented on #11
I will try it now and update you asap!

[2021-12-22 17:21] itaouil commented on #11
Hi,

I gave it a try. It seems that the bug is solved now :).

While trying I noticed couple of behaviors that still persist. For example the shuffling of the support feet in the back (along with some weird posture)

Here is a couple videos demonstrating it (especially the second video link):

https://drive.google.com/file/d/1uqx_RToWp3JJriSPXZY_aZ19Pkbo66x9/view?usp=sharing
https://drive.google.c

[2021-12-22 21:13] graiola commented on #11
does it happen when using the estimation?

[2021-12-22 22:41] itaouil commented on #11
Yes...

Here is a video showcasing the same sort of shuffling behavior while using **estimated_z**:

https://drive.google.com/file/d/1iXTlTBDZdoICsMvYvvEkjpKiik99PAsX/view?usp=sharing

But I remember it quite distinctly not being the case before though.

---

Also...

Was something changed in the terrain estimation and attitude control :)? As I am not able to obtain the same results in climbing up

[2021-12-22 23:26] graiola commented on #11
Tomorrow I am going to investigate...

[2021-12-23 00:11] graiola commented on #11
I made a quick revert to an older commit and generated the debians. You can try and see if it solves the issue on your side.
On my computer is working fine (note that I am using a joypad). Let me know :)

[2021-12-23 14:04] graiola commented on #10
Hi @itaouil , I made public again the descriptions, you can find them here:

https://github.com/graiola/wolf_descriptions

feel free to open PRs :)

[2021-12-23 14:31] itaouil commented on #11
The shuffling still persists, and the climb up with the stairs still fails with the same slope as the video I posted some time ago.

Unfortunately I cannot even cross-check with my other PC which has the previous working version of the debians whether the same behavior was there back then (although I am 90% sure the shuffling was not as present as right now if not at all) :).

But I will be able t

[2021-12-23 14:32] itaouil commented on #10
Nice!

Thanks :)

[2021-12-23 14:41] itaouil commented on #11
Anyway, the original problem was solved so I will close this issue.

Thanks for your help even during the holidays. Much appreciated :).

[2021-12-23 14:41] #11 closed, assigned to nobody

[2022-01-03 01:48] itaouil opened #12 "Visualize same height in RVIZ as in Gazebo"
Hi Gennaro,

Even though I set up the **estimation_position_type** to **ground_truth** I just realized that the height of the robot from the ground floor in RVIZ is not the same as the one in Gazebo as shown in the picture below;

![image](https://user-images.githubusercontent.com/17275225/147894769-44c1247e-2788-480d-b607-c65b565a7236.png)

The "more of less correct height" (I know it is the trun

[2022-01-03 14:57] graiola commented on #12
Hi @itaouil, I patched the ground truth visualization, now it should be correct with the new debians. An important thing to remember is that the ground truth is supposed to be used for debugging only and not to run the robot because it represents the robot pose in gazebo which doesn't have any real meaning :)

[2022-01-03 15:34] graiola commented on #12
Also, if you want to add the stairs to WoLF, you can check out this new repo and open a PR:

https://github.com/graiola/wolf_gazebo_resources

:)

[2022-01-03 16:48] itaouil commented on #12
Thanks a lot! It works great now:

![image](https://user-images.githubusercontent.com/17275225/147956739-6f0abfb7-1331-4276-9c14-595b56f9ab60.png)

Yes. I am only using it for development in simulation, as I don't want to fiddle around with getting to work a state estimator there. I was not planning to use it with the real robot if this is what you meant :).

[2022-01-03 16:49] itaouil commented on #12
Sure thing!

I will open a pull request in 5 :)

[2022-01-03 16:49] #12 closed, assigned to nobody

[2022-01-04 16:09] graiola opened #13 "Robot starting on the ground"
I am preparing a major release where the robot starts directly from the ground.
@itaouil could you be interested in testing this release? Also, are you using the ROS topic to control the robot? Because I am planning to create some ROS services to perform various actions like resetting the base or standing up etc... .

[2022-01-05 14:58] itaouil commented on #13
Hi,

Yes, happy to try it out in simulation (if this is what you mean) :).

At the moment I am controlling the robot using the joy commands and velocities that obtain from my planner (without the joystick) but I am planning to change this and start controlling it using the twist interface as it is less cumbersome. But yes I am using ROS topics.

One more thing. Given I am using your controller for

[2022-01-05 16:27] graiola commented on #13
Sure! I created a new branch called itaouil starting from the current devel . The related debians are placed in the respective folder on dropbox:

https://www.dropbox.com/sh/njzikm4yk61w2r8/AABcoJi5BDrRb8Lhc_ftnH1ca?dl=0

If I may suggest you, always keep a working copy of this folder on your pc with the older debians.

Does that work for you?

[2022-01-05 17:14] graiola commented on #13
I updated the debians in bionic with the new stand up and stand down procedure.

[2022-01-05 17:18] itaouil commented on #13
Great thanks!

I just downloaded it and made a backup on my ssd drive.

[2022-01-05 17:18] itaouil commented on #13
Amazing!

I will give it a try and update you tomorrow or so :)

[2022-01-05 17:20] itaouil commented on #2
Hi @graiola,

I did not check this before....

To command a clockwise or counter clockwise rotation with the twist message is it a combination of angular.z and almost zero linear.y components?

As angular.z alone only changes the yaw of the base.

[2022-01-05 18:20] graiola commented on #2
yes you have to send some linear components as well...

[2022-01-05 22:15] itaouil commented on #2
ok thanks.

[2022-01-07 10:50] graiola opened #14 "keyboard_node crash"
it crashes when pressing ctrl-r, which is needed to reset gazebo.

[2022-01-07 11:52] EnricoMingo commented on #14
Solved in last commit in ```state_machine```. Can be merged and close.

[2022-01-07 16:21] #14 closed, assigned to nobody

[2022-01-11 15:21] itaouil commented on #13
Hi @graiola,

I am sorry for the delay. I have got sidetracked with some stuff...

I did not forget about it though :).

[2022-01-11 17:37] graiola commented on #13
np :)

[2022-01-14 20:25] robolableonardo opened #15 "Create ros servise for robot stand up"

[2022-01-17 10:19] #15 closed, assigned to nobody

[2022-01-17 10:24] FedericoRollo opened #16 "Create ros service for robot stand up"

[2022-01-20 21:38] elpimous commented on #13
I'd like it too !

[2022-01-20 21:41] elpimous opened #17 "Create ros service for separate leg or body"
In a near futur, will you create a ros topic to move isolated foot, or move/rotate body only ?

Working on a python choregraphie app, with sliders (calling robot parts moving), a music, and sound waveform with metronome for tempo, rec instant position, and player.  Idea is to record a music choregraphie, but need to be able to move separate legs, and move/rotate body. Well, use my robot like a pup

[2022-01-24 15:53] #16 closed, assigned to nobody

[2022-01-26 12:16] FedericoRollo opened #18 "Twist msg"
It seems that the twist commands are kept active even if you set a zero velocity on the topic.

[2022-01-26 20:31] graiola commented on #18
Fixed in 0.0.5

[2022-01-26 20:31] #18 closed, assigned to nobody

[2022-01-28 11:48] elpimous opened #19 "Can't access wolf_controller under rqt_reconfigure, with new xacro robot"
Hello the team, i made the ylo2 package, copying your aliengo_description one
robot is ok under rviz (sizes, rotations, inertia)
Don't see any errors in terminal : https://pastebin.com/SzhDDbvU
https://ibb.co/ByQbhSm
the soft launchs ok, i can see gazebo params in rqt_reconfigure, but i don't see the ylo2/wolf_controller inside it, even with refreshs

Could it be a startup pose positions problem ?

[2022-01-28 13:35] graiola commented on #19
Hi @elpimous , there is an error with the ros controller manager, `Controller Spawner couldn't find the expected controller_manager ROS interface.`
Do you have the latest packages installed? If not, please run the installation again or get them with the script `wolf-setup/support/get_debians.sh`, you will find them in the folder `wolf-setup/debs/devel/`.

[2022-01-28 14:02] elpimous commented on #19
Hey, Gennaro, what a quick answer...
Your new install.sh is nice (logo). Well, installed, ok.
Same problem. It could be the fault of my initial pose... Do you have an imu check before starting the wolf controller ?

[2022-01-28 14:04] elpimous commented on #19
[ylo2_description.zip](https://github.com/graiola/wolf-setup/files/7959179/ylo2_description.zip)
Here is my robot_description.... if you want to test..

[2022-01-28 15:39] graiola commented on #19
Yes, I would be very happy to give it a spin asap :)
Also, feel free to open a pull request on https://github.com/graiola/wolf_descriptions with the new robot, so that it would be easier for both of us to work on it.

[2022-01-28 17:27] elpimous commented on #19
I'll do it for sure..
thanks

[2022-01-28 18:16] graiola commented on #19
Hey @elpimous , I fixed the issue, there was an `aliengo` in the urdf. I was able to spawn the controller and to move the robot around but the controller needs some tuning. You can get the fix in the `ylo2` branch https://github.com/graiola/wolf_descriptions/tree/ylo2

[2022-01-29 11:01] elpimous commented on #19
Very good job, Gennaro... Working on it.
Thank you so much.
Vicent

[2022-01-29 11:01] #19 closed, assigned to nobody

[2022-01-29 15:48] graiola opened #20 "Add ros services to keyboard node"

[2022-01-29 15:48] #20 closed, assigned to nobody

[2022-01-29 16:58] elpimous commented on #19
@graiola , I just sent a pull request (first time for me !) Hope it worked

[2022-01-30 00:12] elpimous opened #21 "error on catkin_make, with sensors_description"
Hello, here is the pastebin of the terminal...
https://pastebin.com/m3jAT87t
Any idea ?

[2022-01-30 10:57] graiola commented on #21
The error is caused by the fact that your compiler is treating warnings as errors `all warnings being treated as errors`.
You have to set the compiler to ignore the warnings. Btw I am going to fix the warnings in the meanwhile.

[2022-01-31 23:44] #13 closed, assigned to nobody

[2022-01-31 23:44] graiola commented on #21
Fixed the warnings, I am going to close that.

[2022-01-31 23:44] #21 closed, assigned to nobody

[2022-01-31 23:45] graiola commented on #17
The idea would be to create a plugin system to load different behaviors in the controller. Right now the SoT works only in conjunction with the walking pattern generator presented in the paper.

[2022-01-31 23:53] elpimous commented on #21
Working great. Thanks for reactivity

[2022-02-03 22:37] elpimous commented on #17
Humm, it was quite easier, in my head..
Next TODO (in my dreams)

[2022-02-04 16:13] FedericoRollo opened #22 "don't send twist commands while standing up"

[2022-02-05 15:16] graiola opened #23 "add the possibility to set linear velocities separately"

[2022-02-05 22:38] elpimous opened #24 "Possibility to install full packages on catkin_ws/src"
Hi the team, do you plan to make possible à full installation on a target dir (like catkin_ws/src)?

[2022-02-06 16:52] graiola commented on #24
Everything can be compiled with catkin except for `wolf_controller` which is closed source at the moment.

[2022-02-06 17:51] graiola commented on #23
added in 0.0.6

[2022-02-06 17:51] #23 closed, assigned to nobody

[2022-02-07 10:52] graiola commented on #22
solved in 0.0.6

[2022-02-07 10:52] #22 closed, assigned to nobody

[2022-02-09 17:38] graiola commented on #24
I am going to close that for now. I will open it again if there are further developments on the topic.

[2022-02-09 17:38] #24 closed, assigned to nobody

[2022-02-13 20:45] elpimous opened #25 "Could not load library (Poco exception = libsrdfdom.so.0.6.2: cannot open shared object file: No such file or directory)"
hello, this error occured after install on noetic (ubuntu 20.04)
No errors at install, neither catkin_make

[FATAL] [1644784871.955292655]: Failed to create robot simulation interface loader: Failed to load library /opt/ros/noetic/lib/libwolf_hw_sim.so. Make sure that you are calling the PLUGINLIB_EXPORT_CLASS macro in the library code, and that names are consistent between this macro and your XML

[2022-02-13 22:27] graiola commented on #25
did you run the install.sh script?

[2022-02-13 22:51] EnricoMingo commented on #25
Looks like you are missing libsrdfdom.so

[2022-02-14 06:30] elpimous commented on #25
Hello. Yes I did. /install.sh.I'll restart tonight... Envoyé depuis mon téléphone Huawei-------- Message original --------De : Enrico Mingo Hoffman ***@***.***>Date : dim. 13 févr. 2022 à 23:52À : graiola/wolf-setup ***@***.***>Cc : FOUCAULT Vincent ***@***.***>, Author ***@***.***>Objet : Re: [graiola/wolf-setup] Could not load library (Poco exception = libsrdfdom.so.0.6.2: cannot open shared obj

[2022-02-14 09:04] graiola commented on #25
it looks like you don't have ros-noetic-srdfdom or you have a different version.
Can you post here the output of:

`sudo dpkg -l | grep ros-noetic-srdfdom`

[2022-02-14 11:43] elpimous commented on #25
Souhait=inconnU/Installé/suppRimé/Purgé/H=à garder
| État=Non/Installé/fichier-Config/dépaqUeté/échec-conFig/H=semi-installé/W=attend-traitement-déclenchements
|/ Err?=(aucune)/besoin Réinstallation (État,Err: majuscule=mauvais)
||/ Nom                Version                      Architecture Description
+++-==================-============================-============-=============================

[2022-02-14 11:45] elpimous commented on #25
I installed ros-noetic-full, rosdep update, sources... and ./install.sh until the end.
deleted wolf-setup dir, and reinstalled it : same error.

reinstalled SRDF : `sudo apt-get install --reinstall ros-noetic-srdfdom`

roslaunch wolf_controller wolf_controller_bringup.launch input_device:=keyboard
`
FATAL] [1644841690.602021456]: Failed to create robot simulation interface loader: Failed to load l

[2022-02-14 12:48] graiola commented on #25
Probably they updated srdfdom to 0.6.3, in that case I have to recreate the docker images and rebuild the packages. I can do that tonight.

[2022-02-14 14:11] elpimous commented on #25
Correct : ros-noetic-srdfdom_0.6.3-1
Please add update to ./install.sh too
Ready to test
Thanks

[2022-02-15 19:59] graiola commented on #25
Fixed with 0.0.8

[2022-02-15 19:59] #25 closed, assigned to nobody

[2022-02-16 16:35] elpimous commented on #25
Hello Gennaro.Je cherche à tester wolf_navigation, et je rencontre quelques difficultés...Peux tu m expliquer comment tester wolf_localisation ?Je lance wolf_localisation, avec le world office, puis le service standup, puis spot planté et pas de mappingBonne journée 

[2022-02-17 21:44] graiola commented on #25
Could you open an issue on wolf_navigation? Thank you.

[2022-02-20 20:24] elpimous opened #26 "working errors on ubuntu20.04/noetic"
hey guys, working on Ylo2robot, with new ubuntu20.04 working Noetic.
my native python is 3.8

`./install.sh` installed correctly
`
wolf_description` installed correctly

`roslaunch wolf_controller wolf_controller_bringup.launch robot_name:=ylo2 input_device:=keyboard`

[code]
installed python, and some python(2) imports are missing!
[code]
it seems that i cant install yaml (conflits with pip)

[2022-02-20 20:31] EnricoMingo commented on #26
Hi!
Can you try

 sudo apt-get install python3-yaml
?

[2022-02-20 20:32] EnricoMingo commented on #26
Or first purge and then reinstall

[2022-02-20 20:34] elpimous commented on #26
python3-yaml est déjà la version la plus récente (5.3.1-1ubuntu0.1)
already newest version.
You want me to purge the full install ? I'll have same install right after !?!

[2022-02-20 20:34] elpimous commented on #26
seems looking for yaml for python2 ?!

[2022-02-20 20:37] EnricoMingo commented on #26
Nope, not purge everything.
If you run ipython or a python shell can you import yaml?

[2022-02-20 20:38] elpimous commented on #26
ImportError: No module named yaml
no

[code]
[code]
[code]
[code]

[2022-02-20 22:01] EnricoMingo commented on #26
I would say you are missing the package…can you locate it in your machine?

[2022-02-20 22:51] graiola commented on #26
With ubuntu 20.04 you should be using python3. I think something got wrong with your python environment :/

[2022-02-22 19:50] elpimous commented on #26
hello the team, i saw that i missed the following command after my ROS NOETIC environment installation :
$ `catkin_make -DPYTHON_EXECUTABLE=/usr/bin/python3`
after that, it was ok.

[2022-02-22 19:51] #26 closed, assigned to nobody

[2022-02-22 20:07] elpimous opened #27 "print wolf_controller version ?!"
Hello, could you add Wolf program revision anywere ?
It could be useful, to know if we are up to date..
Thanks the team

[2022-02-22 20:25] graiola commented on #27
Hi, there is a changelog but it is not public yet...

[2022-02-22 21:11] graiola commented on #27
here it is https://github.com/graiola/wolf-setup/blob/master/CHANGELOG.md

[2022-02-22 21:11] #27 closed, assigned to nobody

[2022-02-22 21:32] #17 closed, assigned to nobody

[2022-03-10 14:22] graiola opened #28 "Move to new xbot apt-server"

[2022-03-17 15:45] graiola commented on #28
Missing RBDL library.

[2022-03-21 11:31] itaouil opened #29 "libmoveit_robot_model.so updated"
Hi Gennaro,

I updated my system and the **libmoveit_robot_model.so.1.0.9** library that the controller depends on got updated to 1.0.10.

Would you be able to generate a new version for this update?

Best,
Ilyass

[2022-03-21 12:01] graiola commented on #29
Hi Ilyass,

I think the debians in the devel folder are already updated.
Can you try them?

Gennaro

[2022-03-21 12:54] itaouil commented on #29
I tried to install using ```./install -b devel``` but I obtain the same error.

![image](https://user-images.githubusercontent.com/17275225/159264971-832544b6-82ce-4f32-a883-883e121c3693.png)

[2022-03-21 13:06] graiola commented on #29
Could you tell me which version of wolf_controller you are using?

[2022-03-21 13:08] itaouil commented on #29
I am using the latest version (I ultimately updated it some time ago).

![image](https://user-images.githubusercontent.com/17275225/159267234-0b9eb46b-efed-40cd-bee0-c90dba93ab76.png)

[2022-03-21 13:41] graiola commented on #29
I started the to regenerate the debians but it is going to take some time unfortunately... They should be updated by this evening.

[2022-03-21 15:34] itaouil commented on #29
Ok thanks :)

[2022-03-21 16:25] graiola commented on #29
@itaouil the devel debians should be updated. Can you test it? Thanks.

[2022-03-21 20:40] itaouil commented on #29
Yes, it works :).

Thanks a lot Gennaro!

[2022-03-21 20:40] #29 closed, assigned to nobody

[2022-03-26 19:18] graiola commented on #28
Fixed.

[2022-03-26 19:18] #28 closed, assigned to nobody

[2022-05-23 07:17] mfocchi opened #30 "quickly shutdown gazebo when you press CTRL+C"
/opt/ros/bionic/lib/python3.5/dist-packages/roslaunch/nodeprocess.py

        _TIMEOUT_SIGINT = 15.0 #seconds => 0.1s

    _TIMEOUT_SIGTERM = 2.0 #seconds =>0.1s

[2022-05-23 07:40] mfocchi opened #31 "demo manipulation improvement"
- I cannot set references for the arm
- when you stand up first stand up,then unfold the arm
- when you press stop fold the arm,
- if you stop and start twice the arm reference is not reset and screws up the pitch  and cannot walk anymore
- I would plot the cones bigger, pink and translucid, as is they are confusing, maybe create a guy where you can tick ON OFF visualization of cones, reference co

[2022-05-23 07:43] mfocchi opened #32 "demo navigation"
- avoid lateral motions, use only heading and forward motions (combined)
- the robot stops for a while every minute
- the update rate of the vision is too high for some computers

[2022-05-23 08:00] mfocchi opened #33 "demo locomotion"
- add possibility to toggle ground truth and state estimator on the keyboard
- in ground truth mode I would add the map of the environment
- add a button to reset the simulation if the robot falls from stairs or better implement a self righting scheme if it is falling on back  ( I can give you the code we used with "sandrone" https://www.dropbox.com/s/foouybfzp1ljde2/self-righting.avi) otherwise g

[2022-09-01 18:04] elpimous opened #34 "missing packages on wolf setup install, on noetic"
./install.sh on noetic :+1:

dpkg: des problèmes de dépendances empêchent la configuration de ros-noetic-wolf-controller :
 ros-noetic-wolf-controller dépend de modelinterfacerbdl (= 1.1.10) ; cependant :
  **Le paquet modelinterfacerbdl n'est pas installé.**
 ros-noetic-wolf-controller dépend de xbotinterface (= 2.1.0-1fe46dc-amd64-focal) ; cependant :
  **Le paquet xbotinterface n'est pas instal

[2022-09-01 19:24] elpimous commented on #34
worked with "git checkout xbot_apt_server" first

[2022-09-01 19:34] graiola commented on #34
weird, it should work on the master branch as well... I am going to investigate that. Thank you for reporting the issue :)

[2022-09-01 19:42] elpimous commented on #34
you're welcome..
but this error occur, even with a `source ~/.bashrc`
[code]

[2022-09-01 19:43] graiola commented on #34
Because it is not supposed to work with the xbot_apt_server branch.

[2022-09-05 21:59] graiola commented on #34
Can you try again? I just updated the debians and the docker images, and they are working fine for me. Thank you :)

[2022-09-06 17:33] elpimous commented on #34
humm, errors ?!!
(i don't use dockers)

https://pastebin.com/ZUfrivuA

[2022-09-06 17:47] graiola commented on #34
I think the problem is caused by the xbot apt list. Can you remove the xbot source from your apt list and try to install again?

[2022-09-06 18:05] elpimous commented on #34
removed.
same error :
https://pastebin.com/dZaQkjfA

[2022-09-06 18:09] elpimous commented on #34
removed.
same error : https://pastebin.com/XZUYVFKT

[2022-09-06 18:19] graiola commented on #34
try to run the `uninstall.sh` script in the `debs/advr` folder and install again

[2022-09-06 18:23] elpimous commented on #34
humm. removed from apt,
removed any xbot_*
reinstall ok
under catkin_ws,  `catkin_make`, then `source ~/.bashrc`, then `roslaunch wolf_controller wolf_controller_bringup.launch`
can't find lib : Failed to load library /opt/ros/noetic/lib/libwolf_controller.so

the error : https://pastebin.com/Fts4uhJM

my ~/.bashrc :

`...
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_comple

[2022-09-06 18:40] elpimous commented on #34
==> try to run the uninstall.sh script in the debs/advr folder and install again
  working !!
Thanks Gennaro.

[2022-09-06 19:23] #34 closed, assigned to nobody

[2022-09-14 12:12] SOHAILMBS opened #35 "wolf_controller ros package missing"
Hi,

I am trying to build this package from the source but the controller package is missing which contains the binaries. I want to test the package with the GO1 robot and possibly on the real robot as well.

[2022-09-14 19:26] graiola commented on #35
Hello,

The controller is distributed only as a debian at the moment. The rest of the code instead is open-source. If you want to use GO1, you can give a look at the `wolf_aliengo_interface` package. For any other question or issue I am more than happy to help :)

[2022-09-19 19:21] SOHAILMBS commented on #35
Pardon the late reply. Thank you for replying. I was hoping that perhaps binaries were available to build it without the docker. Anyway thank you for your time!

[2022-09-19 19:21] #35 closed, assigned to nobody

[2022-10-23 15:52] elpimous opened #36 "Changing initial stand_down pose"
Hey, where to change the initial robot joints pose ?
Could it be possible to integrate it into robot_name_description/params/robot_name_params.xml ?

[2022-10-24 11:45] robolableonardo commented on #36
Hello, to change the stand down posture you can edit this file:

https://github.com/graiola/wolf_descriptions/blob/master/ylo2_description/robots/ylo2.srdf.xacro#L66-L78

[2022-10-25 20:28] elpimous commented on #36
Thanks friend

[2022-10-25 20:28] #36 closed, assigned to nobody